* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.header {
    padding-top: 51px;
    box-shadow: 0px 4px 8.7px 0px;
}

.container {
    max-width: 1226px;
    width: 100%;
    margin: 0 auto;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header__list {
    display: flex;
    list-style: none;
    gap: 64px;
}

.header__link {
    text-decoration: none;
    display: flex;
    color: rgb(188, 170, 170);
    font-family: "Inter";
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    text-align: left;
    transition: 0.5s ease-in-out;
}

.header__link:hover {
    color: rgb(239, 64, 15);
    transition: 0.5s ease-in-out;
}

.header__button {
    background-color: transparent;
    box-sizing: border-box;
    border: 3px solid rgb(239, 64, 15);
    border-radius: 20px;
    background: rgba(217, 217, 217, 0);
    padding: 10px;
    width: 219px;
}


.hero__link {
    color: rgb(13, 12, 92);
    font-family: "Inter";
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration: none;



}

.hero__li {
    color: rgb(239, 64, 15);
    font-family: "Inter";
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration: none;

}

.hero__title {
    display: flex;
    justify-content: space-between;
    padding-top: 71px;
}

.section__wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 25px;
}

.section__content {
    width: 290px;
    height: 290px;
    border-radius: 30px;
    box-shadow: 0px 4px 13.3px 0px rgba(0, 0, 0, 0.25);
    background: rgb(255, 255, 255);
    text-align: center;

}

.section__item {
    display: flex;
    justify-content: center;
    padding-top: 17px;
}

.section__link {
    text-decoration: none;
}

.section__text {
    color: rgba(0, 0, 0, 0.67);
    font-family: "Inter";
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: center;
}

.section__tex {
    color: rgba(0, 0, 0, 0.67);
    font-family: "Inter";
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: center;
    padding-top: 24px;
}

.section__title {
    color: rgb(0, 0, 0);
    font-family: "Inter";
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    
}